<section class="hero">
  <div class="container hero-body">
    <div class="columns">
      <div class="column is-three-fifths">
        <h1 class="title is-1 titleBanner">Active, efficient, inexpensive and transparent solution against HNWI</h1>
        <div class="columns is-vcentered">
          <div class="column is-two-fifths">
            <a class="button is-rounded is-primary getToKnowUs">
              <strong>GET TO KNOW US</strong>
              <i class="fa fa-arrow-right"></i>
            </a>
          </div>
          <div class="column is-two-fifths">
            <p class="subtitle">
              We develop the first Robo-asset manager dedicated to HNWI.
            </p>
          </div>
        </div>
        <div class="columns stats">
          <div class="column is-four-fifths">
            <div class="columns">
              <div class="column align-center">
                <li-progress-circles [value]="30"></li-progress-circles>
                <p class="spacingTest">RETURN LEVEL</p>
              </div>
              <div class="column align-center">
                <li-progress-circles [value]="70"></li-progress-circles>
                <p class="spacingTest">RISK LEVEL</p>
              </div>
              <div class="column align-center">
                <li-progress-circles [value]="20"></li-progress-circles>
                <p class="spacingTest">YIELD LEVEL</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <img class="home-header__main-img" src="../../../assets/images/AdobeStock_210730910_Preview.jpg" alt="">
      </div>
    </div>
  </div>
</section>
