<section class="container is-marginless is-fluid">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="columns">
        <div class="column is-3">
          <h2 class="is-size-3">Are you convinced?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor…</p>
          <a class="button is-rounded has-text-weight-bold">OPEN ACCOUNT</a>
        </div>
        <div class="column is-offset-1 is-2">
          <h2 class="is-size-5">First title</h2>
          <ul>
            <li>Absolute performance</li>
            <li>Growth</li>
            <li>Levels</li>
            <li>Duration</li>
          </ul>
        </div>
        <div class="column is-2">
          <h2 class="is-size-5">Second title</h2>
          <ul>
            <li>Absolute performance</li>
            <li>Growth</li>
            <li>Levels</li>
            <li>Duration</li>
            <li>Yield</li>
            <li>Rights</li>
          </ul>
        </div>
        <div class="column is-2">
          <h2 class="is-size-5">Third title</h2>
          <ul>
            <li>Absolute performance</li>
            <li>Growth</li>
          </ul>
        </div>
        <div class="column is-2">
          <h2 class="is-size-5">Fourth title</h2>
          <ul>
            <li>Absolute performance</li>
            <li>Growth</li>
            <li>Levels</li>
            <li>Duration</li>
          </ul>
        </div>
      </div>
      <p class="has-text-centered has-text-weight-bold">2019 ©Copyright</p>
    </div>
  </div>
</section>
