<section id="whattheydo" class="hero">
  <div class="container is-fluid is-marginless">
    <div class="columns">
      <div class="column is-5 image">
        <img src="https://loremflickr.com/1200/640">
      </div>
      <div class="column is-4 is-offset-1">
        <h1 class="title is-1 is-spaced is-family-secondary">{{title}}</h1>
        <div [innerHTML]="text | markdown"></div>
        <a [routerLink]="['.', 'what-they-do']" class="button is-outlined is-rounded is-primary" id="btnAccount">
          LEARN MORE
        </a>
      </div>
    </div>
  </div>
</section>

