<div id="strategyHeader" class="container is-fluid is-marginless">
  <div class="columns">
    <div class="column is-5 boxTitle">
      <h1 class="title is-1 titleBanner is-family-secondary has-text-white has-text-centered">{{title}}</h1>
    </div>
    <div class="column is-7 boxImage">
      <img src="https://loremflickr.com/1200/400">
    </div>
  </div>
  <div class="columns">
    <div class="column is-offset-3 is-6 has-text-centered is-vcentered space-p" [innerHTML]="text | markdown">
    </div>
  </div>
</div>
