<li-header-page [strategyHeaderContent]="contents?.header"></li-header-page>
<li-title-page [strategyWhatTheyDoContent]="contents?.title"></li-title-page>

<div id="articles" *ngIf="isArticles" class="container is-fluid is-marginless">
  <div class="columns is-multiline" li-traditional-portfolio-managers
       *ngIf="contents.article1"
       [article]="contents.article1"></div>
  <div class="columns is-multiline" li-heart-of-strategy
       *ngIf="contents.article2"
       [article]="contents.article2"></div>
  <div class="columns is-multiline" li-investment-universe
       *ngIf="contents.article3"
       [article]="contents.article3"></div>
  <div class="columns is-multiline" li-management-tactics
       *ngIf="contents.article4"
       [article]="contents.article4"></div>
  <div class="columns is-multiline"
       *ngIf="contents.article5 || contents.article6">
    <div class="column is-4 is-offset-2" li-instrument-of-strategy
         *ngIf="contents.article5"
         [article]="contents.article5"></div>
    <div class="column is-4" li-money-risk-management
         *ngIf="contents.article6"
         [article]="contents.article6"></div>
  </div>
</div>


