<section class="advantage">
  <img class="big-img-advantages" src="../../../assets/images/big-img-advantages.jpg" alt="">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <div class="columns is-multiline is-paddingless">
          <div class="column is-three-quarters case" style="background-color: #DB0A5B;">
            <p class="spacingTest">RETURN</p>
            <h1 class="title is-2">Onshore absolut
              return</h1>
            <p class="subtitle is-5 has-text-light">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          </div>
          <div class="column is-three-fifths case" style="background-color: #0A97DB;">
            <p class="spacingTest">Volatility</p>
            <h1 class="title is-2">Less volatility</h1>
          </div>
          <div class="column is-full case" style="background-color: #DBA60A;">
            <p class="spacingTest has-text-black-bis">Performance</p>
            <h1 class="title is-2 has-text-black-bis">Better
              Performance</h1>
          </div>
          <div class="column is-full align-center">
            <p class="conviced">Are you convinced?
              <a id="btnAccount">
                open account
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="column is-half is-flex-right">
        <div class="columns is-multiline is-paddingless is-flex-right decalage-margin">
          <div class="column is-three-quarters case" style="background-color: #650ADB;">
            <p class="spacingTest">Cost</p>
            <h1 class="title is-2">Less cost</h1>
            <p class="subtitle is-5 has-text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="column is-three-fifths case long" style="background-color: #AC904D;">
            <p class="spacingTest">Access</p>
            <h1 class="title is-2">Easy Wealth Manager Access</h1>
          </div>
          <div class="column is-full case" style="background-color: #0ADBBA;">
            <p class="spacingTest has-text-black-bis">RETURN</p>
            <h1 class="title is-2 has-text-black-bis">Transparency</h1>
            <p class="subtitle is-5 has-text-black-bis">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
