<section class="hero is-light">
  <div class="container hero-body">
    <div class="columns">
      <div class="column is-4">
        <h1>WHY US</h1>
        <p class="is-size-5">Are you convinced?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a class="button is-outlined is-rounded is-primary is-size-6 has-text-black-bis" id="btnAccount">
          LEARN MORE
        </a>
      </div>
      <div class="column is-7 is-offset-1">
        <div class="columns">
          <div class="column">
            <li-collapse [isFirst]="true">
              <h2 class="title is-4 label">Do you know that 5% annualy brings more that 10% ?</h2>
              <p class="subtitle content">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </li-collapse>
            <li-collapse [isFirst]="false">
              <h2 class="title is-4 label">Do you know that 5% annualy brings more that 10% ?</h2>
              <p class="subtitle content">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </li-collapse>
            <li-collapse [isFirst]="false">
              <h2 class="title is-4 label">Do you know that 5% annualy brings more that 10% ?</h2>
              <p class="subtitle content">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </li-collapse>
            <li-collapse [isFirst]="false">
              <h2 class="title is-4 label">Do you know that 5% annualy brings more that 10% ?</h2>
              <p class="subtitle content">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </li-collapse>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
