<section id="whatwedo" class="hero">
  <div class="container is-fluid is-marginless">
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <h1 class="title is-1 is-spaced is-family-secondary">{{title}}</h1>
        <div [innerHTML]="text | markdown"></div>
        <a class="button is-outlined is-rounded is-primary" id="btnAccount">
          LEARN MORE
        </a>
      </div>
      <div class="column image is-5 is-offset-1 ">
        <img src="https://loremflickr.com/1200/640">
      </div>
    </div>
  </div>
</section>




