#whatwedo {
  margin-top: 160px;

  .image{
    img{
      Object-fit: cover;
    }
  }

  div p {
    color: #4a4a4a;
    font-weight: 400;
    line-height: 1.25;
    font-size: 1.5rem;
    padding-top: 40px;
  }

  .button{
    margin-top: 40px;
    border: 2px solid #AC904D;	border-radius: 17px;	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  }
}
