#article1,
#article1-img,
#article2,
#article3,
#article3-img,
#article4,
#article4-img,
#article5,
#article6{
  div p {
    color: #4a4a4a;
    font-weight: 400;
    line-height: 1.25;
    font-size: 1.5rem;
    padding-top: 40px;
  }
  img{
    width: 100%;
  }
  a{
    margin-top: 40px;
  }
}
