<li-header-page [strategyHeaderContent]="contents?.header?.contents"></li-header-page>
<li-title-page [strategyWhatTheyDoContent]="contents?.title?.contents"></li-title-page>


<div *ngIf="contents?.articles" class="container is-fluid is-marginless">
  <div class="columns is-multiline" li-markets-efficient
       *ngIf="getArticle('markets-efficient')"
       [article]="getArticle('markets-efficient')"></div>
  <div class="columns is-multiline" li-influence-human-behavior
       *ngIf="getArticle('influence-human-behavior')"
       [article]="getArticle('influence-human-behavior')"></div>
  <div class="columns is-multiline" li-reflection-behavioral-flaws
       *ngIf="getArticle('reflection-behavioral-flaws')"
       [article]="getArticle('reflection-behavioral-flaws')"></div>
  <div class="columns is-multiline" li-trends-universal-timeless-phenomenon
       *ngIf="getArticle('trends-universal-timeless-phenomenon')"
       [article]="getArticle('trends-universal-timeless-phenomenon')"></div>
</div>

<div class="container graphContainer is-fluid" *ngIf="contents?.graph">
  <div class="columns is-multiline" li-square-graph [article]="contents?.graph"></div>
</div>
