<section class="hero is-light">
  <div class="container hero-body">
    <div class="columns" style="justify-content: center">
      <div class="column is-4 has-text-centered is-vcentered">
        <h1 class="title is-1 is-family-secondary">The situation</h1>
        <p>
          Vous disposez d’une clientèle fortunée
          mais vous n’arrivez plus à concilier efficacement
          le temps consacré à la gestion de vos portefeuilles
          clients et celui à votre développement commercial.
        </p>
        <p><strong>Nous avons des solutions pour vous !</strong></p>
      </div>
    </div>
  </div>
</section>
