<div class="main-carousel">
  <div class="carousel-cell" *ngFor="let child of children">
    <div class="card">
      <div class="card-image">
        <img src="https://picsum.photos/400" alt="Placeholder image">
      </div>
      <div class="card-content">
        <p class="is-size-4 has-text-weight-bold">
          Do you know that 5% annualy brings more that 10% ?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>

        <a href="#">READ MORE <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
