<div [ngClass]="">
  <svg *ngIf="positionText == 'left'" class="right" id="svg" viewbox="0 0 100 100">
    <g class="progressCircle">
      <path [ngStyle]="{'stroke-dasharray': 1000,'stroke-dashoffset': 0}" fill="none" stroke-linecap="round" stroke-width="12" stroke="#ccc" d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"/>
      <path [ngStyle]="{'stroke-dasharray': 1000,'stroke-dashoffset': mappingValue}" fill="none" stroke-linecap="round" stroke-width="12" stroke="#AC904D" d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"/>
    </g>
    <g class="text">
      <text x="-30" y="50" text-anchor="middle" dy="7" font-size="20" font-weight="bold">{{value}}</text>
    </g>
  </svg>
  <svg *ngIf="positionText != 'left'" class="left" id="svg" viewbox="0 0 100 100">
    <g class="progressCircle">
      <path [ngStyle]="{'stroke-dasharray': 1000,'stroke-dashoffset': 0}" fill="none" stroke-linecap="round" stroke-width="12" stroke="#ccc" d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"/>
      <path [ngStyle]="{'stroke-dasharray': 1000,'stroke-dashoffset': mappingValue}" fill="none" stroke-linecap="round" stroke-width="12" stroke="#AC904D" d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80"/>
    </g>
    <g class="text">
      <text x="130" y="50" text-anchor="middle" dy="7" font-size="20" font-weight="bold">{{value}}</text>
    </g>
  </svg>
</div>
