<section id="whatwedo" class="hero">
  <div class="container is-fluid is-marginless">
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <h1 class="title is-1 is-spaced is-family-secondary">What we do : Automated Active Management</h1>
        <p class="subtitle is-size-4">
          Nous proposons une gestion active et automatisée de vos avoirs.
        </p>
        <p class="subtitle is-size-4">
          Gestion active signifie que nous cherchons à tirer parti de toutes les opportunités offertes par les marchés
          pour délivrer une performance absolue, c'est-à-dire indépendante de la conjoncture, haussière ou baissière.
        </p>
        <p class="subtitle is-size-4">
          Automatisée signifie que ce n'est pas un humain, aussi talentueux qu'il soit, qui prend les décisions
          d'investissement. C'est un robot, qui applique strictement les règles, sans état d'âmes, ni peur,
          ni cupidité.
        </p>
        <a class="button is-outlined is-rounded is-primary" id="btnAccount">
          LEARN MORE
        </a>
      </div>
      <div class="column image is-5 is-offset-1 ">
        <img src="https://loremflickr.com/1200/640">
      </div>
    </div>
  </div>
</section>




