/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Manuale|Roboto');

$fa-font-path: '../node_modules/font-awesome/fonts';
$family-primary: 'Roboto', sans-serif;
$family-secondary: 'Manuale', serif;

$primary: #AC904D;
$box-padding: 2.5rem;

@import '~bulma-scss/utilities/all';

@import '~bulma-scss/base/all';

@import '~bulma-scss/grid/all';

@import '~bulma-scss/elements/container';
@import '~bulma-scss/elements/title';
@import '~bulma-scss/elements/button';
@import '~bulma-scss/elements/box';

@import '~bulma-scss/layout/section';
@import '~bulma-scss/layout/hero';

@import '~bulma-scss/components/card';

@import './assets/scss/utils';
@import './assets/scss/carousel';
@import './assets/scss/markdown';
