<div id="article2" class="column is-8 is-offset-2">
  <div class="columns">
    <div class="column is-6">
      <div class="columns">
        <div class="column is-2">
          <div class="square"></div>
        </div>
        <div class="column is-10">
          <h1 class="title is-1 is-spaced is-family-secondary">{{article.contents[0].Title_en}}</h1>
          <div [innerHTML]="article.contents[0].Text_en | markdown"></div>
          <a [routerLink]="['.', 'heart-of-strategy']" class="button is-outlined is-rounded is-primary" id="btnAccount">
            LEARN MORE
          </a>
        </div>
      </div>
    </div>
    <div class="column image is-5 is-offset-1">
      <div class="box" [style.border-color]="article.contents[0]?.Schema_en.colorBox">
        <li-chart [options]="article.contents[0]?.Schema_en"></li-chart>
        <div class="background" [style.background-color]="article.contents[0]?.Schema_en?.color"></div>
      </div>
      <div class="square"></div>
    </div>
  </div>
</div>
