<section id="solutions" class="hero">
  <div class="hero-body" style="padding: 120px 1.5rem">
    <div class="container columns" style="justify-content: center">
      <div class="column is-8 has-text-centered is-vcentered">
        <h1 class="title is-1 is-family-secondary">Our solutions</h1>
        <p class="subtitle is-1 is-family-secondary">
          Better organization and less stress enhance your business development
        </p>
      </div>
    </div>
  </div>
  <div class="container columns">
    <div class="column">
      <div class="columns caseWrapper is-multiline">
        <div class="column case white" style="background: #DB0A5B">
          <h1 class="title is-3">Dégager les contraintes administratives</h1>
          <p class="subtitle is-5">
            De back offices, règlementaires et fiscales, nous allons nous occuper de tout cela pour vous.
          </p>
        </div>
        <div class="column case white" style="background: #650ADB">
          <h1 class="title is-3">Renforcement de votre compréhension des évolutions</h1>
          <p class="subtitle is-5">
            Renforcer votre compréhension des évolutions macroéconomiques boursières mondiales grâce à notre plateforme
            digitale d’informations synthétiques et nos morning meeting. Vous pourrez répondre ainsi en toute sérénité
            aux questions de votre clientèle.
          </p>
        </div>
        <div class="column case white" style="background: #0A97DB">
          <h1 class="title is-3">Proximité</h1>
          <p class="subtitle is-5">
            Être plus proche de votre clientèle en multipliant les contacts humains ou téléphoniques.
          </p>
        </div>
      </div>
    </div>
    <div class="column is-narrow" style="width: 4.165%"></div>
    <div class="column" >
      <div class="columns caseWrapper is-multiline">
        <div class="column case" style="background: #0ADBBA">
          <h1 class="title is-3">Confier la gestion de vos portefeuilles clients</h1>
          <p class="subtitle is-5">
            Notre Robo en activité 24h/24h va gérer automatiquement les portefeuilles de vos clients tout en diminuant
            votre stress. Vous aurez en outre un accès permanent à vos portefeuilles clients pour pouvoir répondre à
            leurs questions.
          </p>
        </div>
        <div class="column case" style="background: #DBA60A">
          <h1 class="title is-3">Gain de temps</h1>
          <p class="subtitle is-5">
            Disposer de plus de temps pour votre développement commercial.
          </p>
        </div>
        <div class="column case" style="background: #EEEEEE">
          <h1 class="title is-3">And more...</h1>
        </div>
      </div>
    </div>
  </div>
  <div id="contact" class="container is-fluid columns">
    <div class="column is-flex is-vcentered" style="justify-content: center">
      <a class="button is-rounded has-text-weight-bold">CONTACT US</a>
    </div>
  </div>


</section>
